<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="be.kuleuven.tempotyping">

    <application
        android:icon="@mipmap/tempotyping_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tempotyping_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TempoTyping"
        tools:ignore="AllowBackup">
        <activity
            android:name=".Summary"
            android:screenOrientation="nosensor"
            android:configChanges="orientation"/>
        <activity
            android:name=".Gamemode"
            android:screenOrientation="nosensor"
            android:configChanges="orientation"/>
        <activity
            android:name=".Leaderboards"
            android:screenOrientation="nosensor"
            android:configChanges="orientation"/>
        <activity
            android:name=".Play"
            android:screenOrientation="nosensor"
            android:configChanges="orientation"/>
        <activity
            android:name=".Homescreen"
            android:screenOrientation="nosensor"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>